# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env
*.env.*

# Django
*.db
/static/
/media/
local_settings.py

# VSCode/PyCharm
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Virtualenv
myvenv/
venv/
ENV/
.env/
.venv/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc